<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190040767095-3r759glkvk44i9131jfoi8v919h9at87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190040767095-3r759glkvk44i9131jfoi8v919h9at87</string>
	<key>API_KEY</key>
	<string>AIzaSyDiRMrKY5T5xDbObGSmxzJw7O2QZ5JESxM</string>
	<key>GCM_SENDER_ID</key>
	<string>190040767095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.sp0der.numsearch</string>
	<key>PROJECT_ID</key>
	<string>numsearch-ac398</string>
	<key>STORAGE_BUCKET</key>
	<string>numsearch-ac398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190040767095:ios:c048a53e4b9bb0f53a6472</string>
</dict>
</plist>